Source: markovex
Section: sound
Priority: optional
Maintainer: Alessio Degani <alessio.degani@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python
Standards-Version: 3.8.4
Homepage: http://axeldamage.github.com/Markovex/
#Vcs-Git: git://git.debian.org/collab-maint/markovex.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/markovex.git;a=summary

Package: markovex
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: Generative music based on Markov chain
 Extract Markov chain for note pitch and duration from midi file and playit on alsa sequencer.
